*{
    margin: 0;
    padding: 0;
}
.all{
    font-family: Arial, Helvetica, sans-serif;
    height: 1450px;
    width: 100%;
    background: rgb(206, 206, 206);
}
.header{
    text-align: center;
    height: 13%;
    width: 100%;
}
.header h1{
    color: black;
    padding-top: 50px;
    font-weight: normal;
    font-size: 36px;
}
.header p{
    color: black;
    font-weight: normal;
    padding: 20px;
}
.header span{
    font-weight: normal;
    background: black;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}
.centent{
    margin-left: 60px;
    height: 73%;
    width: 94%;
}
.ct_left{
    float: left;
    height: 100%;
    width: 64%;
}
.left1{
    height: 48%;
    width: 100%;
    background: white;
}
.left1_img{
    height: 48%;
    width: 100%;
}
.left1_img img{
    height: 100%;
    width: 100%;
}
.left1_title{
    height: 16%;
    width: 100%;
}
.left1_title h3{
    padding: 15px;
    font-size: 25px;
    font-weight: normal;
}
.left1_title h5{
    padding-left: 15px;
    font-size: 18px;
    font-weight: normal;
}
.left1_ct{
    height: 36%;
    width: 100%;
}
.ct1{
    height: 55%;
    width: 100%;
}
.ct1 p{
    font-weight: normal;
    font-size: 16px;
    padding: 15px;
}
.ct2{
    height: 45%;
    width: 100%;
}
.ct2_left{
    float: left;
    height: 100%;
    width: 70%;
}
.ct2_left button{
    margin-left: 20px;
    margin-top: 20px;
    line-height: 45px;
    background: white;
    border: 1px solid rgb(194, 169, 169);
}
.ct2_left span{
    padding: 23px;
    font-weight: normal;
    font-size: 15px;
}
.ct2_left i{
    font-size: 13px;
    font-weight: normal;
}
.ct2_right{
    float: right;
    height: 100%;
    width: 30%;
}
.ct2_right p{
    font-weight: normal;
    margin-left: 50px;
    padding: 40px;
}
.ct2_right span{
    font-weight: normal;
    padding-top: 2px;
    padding-bottom: 2px;  
    padding-left: 7px;
    padding-right: 7px;
    background: black;
    color: white;
}
.left2{
    margin-top: 49px;
    height: 47%;
    width: 100%;
    background: white;
}
.ct_right{
    margin-right: 25PX;
    float: right;
    height: 100%;
    width: 31%;
}
.right1{
    height: 370px;
    widows: 100%;
    background: white;
}
.r1_img{
    height: 60%;
    width: 100%;
}
.r1_img img{
    height: 100%;
    width: 100%;
}
.r1_tt{
    height: 10%;
    width: 100%;
}
.r1_tt p{
    padding: 15px;
}
.r2_ct{
    height: 30%;
    width: 100%;
}
.r2_ct p{
    padding: 15px;
}
.right2{
    margin-top: 35px;
    height: 380px;
    widows: 100%;
    background: white;
}
.right3{
    margin-top: 35px;
    height: 200px;
    widows: 100%;
    background: white;
}
.footer{
    margin-top: 45px;
    height: 11%;
    width: 100%;
    background: rgb(77, 77, 75);
}
.f1{
    padding-top: 30PX;
    padding-left: 20px;    
}
.f1 button{
    background: black;
    color: white;
    border: 0;
    padding: 12px;
}
.f1 button:hover{
    background: grey;
    color: black;
}
.f1 span{
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;

}
.f1 p{
    font-weight: 400;
    font-size: 15px;
    padding-top: 30px;
    color: white;
}
a{
    color: white;
}
