.n{
    height: 580px;
    width: 100%;
    background: rgb(223, 219, 219);
}
.tren{
    margin-bottom: 0.5%;
    height: 8%;
    width: 100%;
    background: pink;
}
.duoi{
    margin-bottom: 0.5%;
    height: 80%;
    width: 100%;
}
.trai{
    float: left;
    height: 99%;
    width: 57%;
}
.phai{
    float: right;
    height: 100%;
    width: 42%;
}
.tren1{
    margin-bottom: 2%;
    height: 48%;
    width: 100%;
    background: rgb(113, 255, 201);
}
.duoi1{
    height: 50%;
    width: 100%;
}
.trai1{
    margin-right: 1%;
    float: left;
    height: 97%;
    width: 48%;
}
.tren2{
    margin-bottom: 3%;
    height: 45%;
    width: 100%;
    background: red;
}
.duoi2{
    height: 50%;
    width: 100%;
    background: rgb(250, 139, 12);
}
.phai1{
    margin-left: 1%;
    float: right;
    height: 97%;
    width: 50%;
    background: rgb(224, 22, 207);
}
.tren3{
    margin-bottom: 2%;
    height: 17%;
    width: 100%;
}
.trai2{
    margin-right: 2%;
    float: left;
    height: 100%;
    width: 77%;
    background: rgb(44, 6, 80);
}
.phai2{
    float: right;
    height: 100%;
    width: 21%;
    background: #033516;
}
.giua{
    margin-bottom: 2%;
    height: 12%;
    width: 100%;
    background: yellow;
}
.giua1{
    margin-bottom: 2%;
    height: 50.5%;
    width: 100%;
}
.trai3{
    margin-right: 2%;
    float: left;
    height: 100%;
    width: 30%;
    background: teal;
}
.giua2{
    float: left;
    height: 100%;
    width: 33%;
    background: red;
}
.phai3{
    float: right;
    height: 100%;
    width: 33%;
    background: teal;
}
.duoi3{
    height: 12%;
    width: 100%;
    background: salmon;
}
.end{
    height: 10%;
    width: 100%;
    background: black;
}
