*{
    padding: 0px;
    margin: 0px;
}
.menu{
    height: 50px;
    width: 100%;
    background: #000303;
    color: white;
    font-family: sans-serif;
}
.menu ul{
    list-style: none;
}
.style1:hover .menu_web{
    display: block;
}
.menu ul li{
    text-decoration: none;
    line-height: 50px;
    height: 50px;
    width: 180px;
    float: left;
    text-align: center;
}

.style .menu_web{
    position: absolute;
    display: none;
    left: 130px;
    bottom: 50px;
}
.menu_hocTap{
    position: relative;
}
.menu_hocTap:hover .style{
    display: block;
}
.main_menu li:hover{
    background: orangered;
    color: rgb(245, 241, 241);
}
.menu_hocTap .style{
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
}
.menu_hocTap .style li{
    color: black;
    background: #c4a6a6;
    box-shadow:0 4px 5px rgb(90, 89, 89); 
    width: 180px;
}
.menu_music .menu_theLoai li{
    color: black;
    background: #c4a6a6;
    box-shadow:0 4px 5px rgb(90, 89, 89); 
    width: 180px;
}
.menu_hocTap ul li:hover{
    display: flex;
    background: rgb(141, 168, 86);
    color: rgb(15, 5, 5);
}
.main_menu{
    position: relative;
}
.menu_music ul li:hover{
    display: flex;
    background: rgb(141, 168, 86);
    color: rgb(15, 5, 5);

}.menu_music:hover .menu_theLoai{
    display: block;
}
.menu_web li{
    display: block;
    width: 180px;
    height: 50px;
}
.menu_music{
    position: relative;
}
.menu_music .menu_theLoai{
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
}